body{
    font-family: 'Mukta', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.header-color{ 
    color: #db5926;
}
.header2-color{ 
    color: #ce1888;
}
.flexible{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    margin-left: 70px;
    padding-left: 30px;
}
.half-width img{
    width: 80%;
    padding-top: 20px;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-image:linear-gradient(salmon, tomato) ;
    padding: 5px 40px;
    border-radius: 5%;
}
.resume-button{
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-image:linear-gradient(#da5eaa, #ce1888) ;
    padding: 5px 40px;
    border-radius: 5%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 5px 5px 40px rgb(136, 135, 135);
    border-radius: 3%;
}
#border-box2{
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#border-box1{
    border-left: 5px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer{
    text-align: center;
}