body{
    font-family: 'Mukta', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
#header-color{ 
    color: #db5926;
}
#header2-color{ 
    color: #ce1888;
}
section{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    margin-left: 70px;
    padding-left: 30px;
}
.half-width img{
    width: 80%;
    padding-top: 20px;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-image:linear-gradient(#d38724, #db5926) ;
    padding: 5px 40px;
    border-radius: 5%;
}
.resume-button{
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-image:linear-gradient(#da5eaa, #ce1888) ;
    padding: 5px 40px;
    border-radius: 5%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}